body {
        font-family: 'Roboto', sans-serif;
        background-color: #ffffff;
        color: #434455;
        line-height: 1.5;
        font-size: 16px;
        letter-spacing: 0.02em
                /* del another */
}

h1, h2, h3, h4, h5, h6, p {
        margin: 0;
}

ul {
        margin: 0;
        padding-left: 0;
}

img {
        display: block;
}


h1 {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 1.12px;
        text-align: center;
        color: #fff;
}

h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
}

header {
        display: block;
}

.header-nav {
        display: flex;
        align-items: center;
}

.logo {
        font-family: "Raleway",
                sans-serif;
        font-weight: 700;
        font-size: 18px;

        /* line-height: 21px; */
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

/*font-family: "Roboto",
        sans-serif;
    font-weight: 500; */

.hero-button {
        font-family: "Roboto",
                sans-serif;
        background: #4d5ae5;
        font-weight: 500;
        font-size: 16px;

        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
}

.hero-button:hover,
.hero-button:focus {
        cursor: pointer;
        background-color: #404BBF
}


.main-nav a .link {
        font-weight: 500;
        font-size: 16px;
        color: #2e2f42;
        line-height: 1.5;
        letter-spacing: 0.02em;


}

a.link:hover,
a.link:focus {
        color: #404bbf;
}

a {}

/* .address-info {
        

} */

.address-info {
        font-style: normal;
}

.address {

        color: #434455;
}

.address:hover,
.address:focus {
        color: #404bbf;
}

.logo-studio-header {
        color: #2e2f42;
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.logo-studio-footer {
        color: #f4f4fd;
}

.link {

        font-family: 'Roboto', sans-serif;
        font-weight: 500;


        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.hero-section {
        background: #2e2f42;
}

.hero-title {}

.feature {}

.feature-list {}

.feature-card {}

.feature-subtitle {
        font-weight: 500;
        font-size: 20px;

        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.feature-text {
        font-size: 16px;

        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team {
        background-color: #F4F4FD;
}

.team-title {}

.team-list {}

.team-member {
        background-color: #FFFFFF;
}

.team-name {}

.team-role {}

.portfolio {
        background-color: #F4F4FD
}

.portfolio-title {}

.portfolio-list {
        background-color: #FFFFFF
}

.project-card {}

.portfolio-subtitle {
        font-weight: 500;
        font-size: 20px;

        /* line-height: 24px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center; */
        color: #2e2f42;
}

.porfolio-text {

        font-size: 16px;

        /* line-height: 24px; */
        /* line-height: 1.5;
        letter-spacing: 0.02em; */
        color: #434455;
}

.page-footer {
        background-color: #2e2f42;

}

.footer-text {
        font-size: 16px;

        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}